$color-dark-purple: #160D5C;
$color-dark-purple-transparent: rgba(22, 13, 92, .5);
$color-dark-purple-gray: #3E3E89;
$color-middle-purple: #332789;
$color-pink: deeppink;
$color-light-gray: #F0F0F0;
$color-gray: #adadad;
$color-gray-box-shadow: rgba(0, 0, 0, 0.1);
$color-gray-box-shadow-darker: rgba(0, 0, 0, 0.3);
$color-gray-box-shadow-purple: rgba(51, 39, 137, 0.7);